.swiper {
  margin-bottom: 10vh;
}

.swiper-title {
  text-transform: uppercase;
  margin-left: 1vh;
  font-size: 3vh;
  margin-bottom: 2vh;
  font-weight: bold;
}

.swiper-main {
  height: 30vh !important;
}
