.card-container {
  text-align: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 91vh;
}

.fade-appear {
  opacity: 0;
  z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 3000ms linear;
}

/* enter */
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 3000ms linear;
}

/* exit */
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 3000ms linear;
}
.fade-exit-done {
  opacity: 0;
}

/* slide enter */
.slide-enter {
  opacity: 0;
  transform: scale(0.99) translateY(5px);
  z-index: 1;
}
.slide-enter.slide-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: opacity 3000ms linear 1000ms, transform 3000ms ease-in-out 1000ms;
}

/* slide exit */
.slide-exit {
  opacity: 1;
  transform: scale(1) translateY(0);
}
.slide-exit.slide-exit-active {
  opacity: 0;
  transform: scale(0.99) translateY(5px);
  transition: opacity 3000ms linear, transform 3000ms ease-out;
}
.slide-exit-done {
  opacity: 0;
}

/* .preview-image {
  position: absolute;
  left: 0;
  border-radius: 5px;
  width: 100%;
  margin-left: 0vh;
  height: 91.5vh;
} */

.preview-image {
  /* position: absolute; */
}

.preview-title {
  /* position: absolute; */
  /* bottom: 10vh; */
  /* left: 10vh; */
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  color: white;
  height: 20vh;
  z-index: 100;
  width: 80%;
  margin: 0 auto;
  padding-top: 61vh;
  flex-shrink: 0;
}

.movie-preview {
  z-index: 500;
  height: 23vh !important;
}

.description-text {
  flex: 0 0 100%;
  text-align: left;
  vertical-align: text-bottom;
  font-size: 1.8vh;
  text-transform: uppercase;
  font-style: italic;
}

.description-main {
  flex: 1 0 50%;
  /* flex-grow: 5; */
  margin-left: 2vh;
  text-align: left;
  /* flex-shrink: 0; */
  width: 150vh;
}

.description-title {
  font-size: 2.8vh;
}

.description-rating {
  /* margin-left: -1.5vh; */
  padding: 1vh 1.5vh;
  border-radius: 12px;
  background: rgba(150, 141, 141, 0.1);
  margin-bottom: 2vh;
}

.slideshow-title {
  font-size: 2.2vh;
  text-align: left;
}

.slideshow-background {
  position: absolute;
  background-size: cover !important;
  /* background-attachment: fixed !important; */
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.slideshow-overview {
  margin-top: 2vh;
  padding-left: 0.7vh;
  font-size: 1.8vh;
  overflow: auto;
  height: 12vh;
}

.description-wrapper {
  position: absolute;
  bottom: 40vh;
  left: 15vh;
  z-index: 500;
  text-align: left;
}

.description-title-wrapper {
  /* flex: 0 1 11%; */
  text-align: left;
  width: 15vh;
  height: 20vh;
  display: inline-block;
  float: left;
  margin-right: 2vh;
  /* flex-grow: 1;
  flex-shrink: 0; */
}

.flexblock-wrapper {
  width: 100%;
}
