.main {
  background-color: linear-gradient(165deg, #251431 0%, #161130 62%);
}

article {
  width: 80%;
  margin: 10vh auto;
}

.spoken-language {
}

.overview-main {
  margin-top: 2vh;
  text-align: left;
}

.overview-description {
  width: 60%;
  text-align: left;
}

.description-release {
  font-size: 2vh;
}

.cover {
  background-size: cover !important;
}

.preview-image {
}

.gallery-wrapper {
  height: 50%;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 3vh;
}
