.episode-wrapper {
  width: 28vh;
  height: 41.2vh;
  margin: 0 auto;
  /* border: 2px solid white; */
}

.episode-number {
  width: 100%;
  background: #0b1123;
  height: 3vh;
  margin-bottom: 1vh;
  font-size: 2vh;
}

.episode-name {
  font-size: 2.5vh;
  margin-top: 1.5vh;
}

.episode-overview {
  text-align: left;
  margin-top: 1vh;
  padding: 0 2vh;
  padding-bottom: 3vh;
}

.episode-wrapper-main {
  margin: 2vh 3vh;
  border: 2px solid black;
  /* margin: 0 auto; */
  background-color: #20212b;
  -webkit-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
}
