.loadingImg {
  display: none;
}

.movie-genres {
  text-align: left;
  font-size: 1.5vh;
  /* width: 9vh; */
}

.movie-name {
  text-align: left;
  /* width: 6vh; */
  margin-top: 1vh;
}

.comma {
  padding-top: 9vh;
}
