.navbar {
  position: fixed;
  background-color: #1c262bee;
  width: 100%;
  opacity: 1;
}

.input-text {
  padding: 0.5vh 1vh;
  margin: 0;
  border: none;
  border-radius: 2vh;
  height: 3vh;
  width: 40vh;
  vertical-align: middle;
  text-decoration: none;
  color: black;
}

.input-submit {
  padding: 0;
  margin: 0;
  height: 3vh;
  width: 3vh;
  vertical-align: middle;
  border-left: none;
  background: none;
  border-radius: 2vh;
  border: 2px solid grey;
}

.form-input {
  display: inline-block;
  line-height: 0;
}

.form-search {
  margin: 0 auto;
  /* margin-top: 1vh; */
  display: flex;
  height: 5.5vh;
}

.form-search-wrapper {
  position: relative;
  display: flex;
  height: 5.5vh;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  align-content: center;
}

.form-button {
  position: absolute;
  right: 0;
}

.input-submit {
  background-color: #62d0ad;
  border: none;
  border-radius: 50%;
  font-size: 1.5vh;
}

.discover-link {
  height: 3vh;
  width: 3vh;
  border-radius: 20px;
  border: 2px solid black;
}

.navbar-wrapper {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.nav-icon {
  width: 5vh;
  padding-top: 2px;
  cursor: pointer;
}

.nav-icon-wrapper {
  text-align: left;
  display: inline-block;
  float: left;
}

.preview-title {
  height: 100vh !important;
}
